.ds-table-header {
  &__cell {
    &--content {
      display: flex;
      align-items: center;
      &-icon {
        opacity: 0;
        &__active {
          opacity: 1;
        }
      }
    }
    &--sortable {
      &:hover {
        cursor: pointer;
        .header__cell--content-icon {
          opacity: 1;
        }
      }
    }
  }
}