.upload-files {
  &__file {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__inputs {
    gap: 2rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    &--item {
      //width: 100%;
    }
  }
}