.list-card {
  gap: 16px;
  display: flex;
  padding: 16px;
  flex-direction: column;
  &__accordion {
    gap: 16px;
    display: flex;
    flex-direction: column;
    &--title {
      gap: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }
}