.page-filter {
  width: 100%;
  &__container {
    gap: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    &--inputs {
      gap: 16px;
      flex: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      &-item {
        gap: 16px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        &__row {
          flex: 1;
          min-width: 0;
        }
      }
    }
    &--action {
      flex: 1;
      height: 100%;
      display: flex;
      min-width: 120px;
      align-items: center;
      justify-content: center;
    }
  }
}