.tooltip-chart {
  gap: 0.25rem;
  border: 1px solid #e5e7eb;
  display: flex;
  padding: 0.75rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1);
  border-radius: 8px;
  flex-direction: column;
  background-color: white;
}