version: '3.8'

services:
  postgres:
    container_name: machadofolioPostgres
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: localhost
      POSTGRES_PASSWORD: localhost
      POSTGRES_DB: postgresDB
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db/init-multi-db.sh:/docker-entrypoint-initdb.d/init-multi-db.sh:ro
    restart: unless-stopped

volumes:
  postgres_data:
