.persist {
  gap: 1rem;
  padding: 2rem;
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  &__paid {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    justify-content: center;
  }
  &__parent {
    display: flex;
    align-items: center;
    justify-content: center;
    &--row {
      width: 50%;
    }
  }
  &__row {
    gap: 1rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    &--item {
      width: 100%;
    }
    &--switch {
      margin-top: 1.5rem;
    }
  }
  &__actions {
    gap: 1rem;
    display: grid;
    margin-top: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}