.ds-spinner-bar {
  width: 100%;
  overflow: hidden;
  position: relative;
  background: rgba(0,0,0,.10);

  &__content {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    animation: spinner-bar-horizontal-move 1.2s cubic-bezier(.4,0,.2,1) infinite;
  }

  &__context--info {
    background: var(--color-info-80);
  }
  &__context--error {
    background: var(--color-error-80);
  }
  &__context--neutral {
    background: var(--color-neutral-80);
  }
  &__context--success {
    background: var(--color-success-80);
  }
  &__context--primary {
    background: var(--color-primary-80);
  }
  &__context--secondary {
    background: var(--color-secondary-80);
  }
  &__context--attention {
    background: var(--color-attention-80);
  }
}
@keyframes spinner-bar-horizontal-move {
  0%   { left: 0;          width: 30%;}
  50%  { left: 70%;        width: 30%;}
  90%  { left: 100%;       width: 0;}
  100% { left: 0;          width: 30%;}
}