@use "../../../styles/focus" as *;

.ds-input-date-picker {
  gap: 4px;
  display: flex;
  flex-direction: column;
  &__field {
    .react-datepicker__view-calendar-icon input {
      padding: 0;
    }
    color: var(--color-neutral-100);
    border: 1.5px solid var(--color-neutral-60);
    outline: none;
    padding: var(--size-x-small) 1rem;
    font-size: 1rem;
    transition: all 0.3s ease-in-out;
    border-radius: var(--border-radius-large);
    position: relative;
    background-color: transparent;
    &::placeholder {
      color: var(--color-neutral-80);
    }
    &:hover {
      border-color: var(--color-neutral-100);
    }
    &:focus {
      box-shadow: 0 0 0 0.2rem rgba(44, 62, 80, 0.2);
      border-color: var(--color-neutral-100);
    }
    &:active {
      box-shadow: 0 6px 10px rgba(0, 0, 0, 0.16);
    }
    &#{&}-focused:focus {
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
      border-color: var(--color-neutral-100);
    }
    &[type="button"],
    &[type="submit"] {
      cursor: pointer;
    }
    @include focus(
            $default-transition: (
                    border 0.2s ease-in-out,
                    box-shadow 0.2s ease-in-out,
            ),
            $overflow-border: true
    );
  }
}