.ds-chart-content-tooltip {
  gap: 0.4rem;
  display: flex;
  border: 1px solid #ccc;
  padding: 0.8rem;
  box-shadow: 0 0 0.8rem rgba(0,0,0,0.2);
  border-radius: 0.8rem;
  flex-direction: column;
  background-color: white;

  &__generic {
    gap: 0;
    margin: 0;
    width: fit-content;
    display: flex;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    flex-direction: column;
    justify-content: flex-start;
    &--item {
      margin: 0;
      padding: 0;
    }
  }
  &__text {
    margin: 0;
  }
}