.ds-file-input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-family: inherit;
  &__field {
    display: flex;
    align-items: center;
    gap: 1rem;
    &--error{
      border-color: var(--color-error-80);
    }
  }

  &__filename {
    color: var(--color-text-secondary, #6b7280);
    font-size: 0.97rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 220px;
  }

  &__filenames-list {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 400px;
  }

  &__filename-item {
    color: var(--color-text-secondary, #6b7280);
    font-size: 0.97rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__preview {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: var(--dimensions-relative-32);
    flex-direction: column;
    justify-content: center;
    img {
      max-width: 100%;
      object-fit: cover;
    }
    &--image {
      width: 140px;
      height: 140px;
      object-fit: cover;
      border-radius: 50%;
      border: 2px solid #e6e9ec;
      transition: transform 0.3s, border-color 0.3s;
      &:hover {
        transform: scale(1.05);
        border-color: #3498db;
      }
    }
  }

  &__icon-remove {
    cursor: pointer;
  }
}