@use "../../styles/colors" as *;

.ds-text {
  &__variant {
    &--tiny{
      font-size: var(--dimensions-relative-12);
      line-height: var(--dimensions-relative-18);
      font-weight: var(--font-weight-regular);
    }
    &--xsmall{
      font-size: var(--dimensions-relative-12);
      line-height: var(--dimensions-relative-18);
      font-weight: var(--font-weight-regular);
    }
    &--small{
      font-size: var(--dimensions-relative-12);
      line-height: var(--dimensions-relative-24);
      font-weight: var(--font-weight-regular);
    }
    &--regular{
      font-size: var(--dimensions-relative-14);
      line-height: var(--dimensions-relative-28);
      font-weight: var(--font-weight-regular);
    }
    &--medium{
      font-size: var(--dimensions-relative-18);
      line-height: var(--dimensions-relative-32);
      font-weight: var(--font-weight-regular);
    }
    &--large{
      font-size: var(--dimensions-relative-20);
      line-height: var(--dimensions-relative-40);
      font-weight: var(--font-weight-regular);
    }
    &--xlarge{
      font-size: var(--dimensions-relative-24);
      line-height: var(--dimensions-relative-56);
      font-weight: var(--font-weight-regular);
    }
    &--big{
      font-size: var(--dimensions-relative-48);
      line-height: var(--dimensions-relative-56);
      font-weight: var(--font-weight-regular);
    }
    &--huge{
      font-size: var(--dimensions-relative-40);
      line-height: var(--dimensions-relative-72);
      font-weight: var(--font-weight-regular);
    }
    &--giant{
      font-size: var(--dimensions-relative-48);
      line-height: var(--dimensions-relative-80);
      font-weight: var(--font-weight-regular);
    }
  }
  &__weight {
    &--regular{
      font-weight: var(--font-weight-regular);
    }
    &--medium{
      font-weight: var(--font-weight-medium);
    }
    &--semi-bold{
      font-weight: var(--font-weight-semi-bold);
    }
    &--bold{
      font-weight: var(--font-weight-bold);
    }
  }
}