.ui-page-persist {
  &__inputs {
    gap: 1rem;
    display: flex;
    //align-items: center;
    flex-direction: column;
    //justify-content: center;
  }
  &__actions {
    gap: 1rem;
    display: grid;
    margin-top: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}