.ui-dropdown {
  cursor: pointer;
  &__menu {
    cursor: pointer;
    color: inherit;
    display: flex;
    padding: var(--dimensions-fixed-10) var(--dimensions-fixed-20);
    font-size: var(--font-size-regular);
    transition: background-color 0.2s ease;
    align-items: center;
    text-decoration: none;
    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
    &--title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      &-text {
        color: var(--color-menu);
        margin-left: var(--dimensions-fixed-10);
      }
    }
  }
  &__submenu {
    gap: var(--dimensions-fixed-10);
    display: flex;
    background: var(--color-sidebar-background);
    padding-top: var(--dimensions-fixed-10);
    padding-left: var(--dimensions-fixed-40);
    flex-direction: column;
    padding-bottom: var(--dimensions-fixed-10);
    &--link {
      padding: var(--dimensions-fixed-8) 0;
      text-decoration: none;
      color: inherit;
      font-size: var(--font-size-small);
      &-title {
        margin-left: var(--dimensions-fixed-10);
      }
      &-abbr {
        color: var(--color-menu);
        font-size: var(--font-size-regular);
      }
      &:hover {
        color: rgba(255, 255, 255, 0.2);
      }
    }
    .ui-dropdown {
      margin-left: -20px;
      &__submenu {
        padding-left: var(--dimensions-fixed-50);
        background: none;
      }
    }
  }
}