.finance-info {
  &__header {
    gap: 1rem;
    display: flex;
    align-items: center;
  }
  &__content {
    gap: 2rem;
    display: flex;
    flex-direction: column;
    &--group {
      gap: 1.5rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
      &-item {
        gap: 0.5rem;
        display: flex;
        flex-direction: column;
      }
    }
  }
}